{% extends "blog/base.html" %}
{% load comments %}

{% block title %} {{ block.super }}{% endblock%}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider"></span></li>
  <li class="active">Blog</li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="col-md-9">
        {% for item in articles %}
        <article class="news-item">
            <h4 class="title"><a href="{% url 'blog_article_single' slug=item.slug %}">{{ item.title }}</a></h4>
            <div class="meta">{{ item.date_publish|date:"F j, Y" }}</div>
            <div class="text">
                <p>{{ item.excerpt|safe }}</p>
                {% get_comment_count for item as comment_count %}
                <p>{{ comment_count }} comments</p>
            </div>
        </article>
        {% endfor %}

        <div>
            <ul class="pagination pagination-small pagination-centered">
                {% if articles.has_previous %}
                <li><a href="?page={{ articles.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="disabled"><span>Previous</span></li>
                {% endif %}

                <li class="active"><span>{{ articles.number }}</span></li>

                {% if articles.has_next %}
                <li><a href="?page={{ articles.next_page_number }}">Next</a></li>
                {% else %}
                <li class="disabled"><span>Next</span></li>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="nav list-unstyled">
        {% if archive_dates|length > 0 %}
            <li class="nav nav-header">ARCHIVE DATES</li>
            {% for date in archive_dates %}
            <li><a href="{% url 'blog_date_archive' month=date|date:"m" year=date|date:"Y" %}">{{ date|date:"Y M" }}</a></li>
            {% endfor %}
            <li class="nav-header">CATEGORIES</li>
            {% for tmp in categories %}
            <li{% if category.slug == tmp.slug %} class="active"{% endif %}><a href="{% url 'blog_category_archive' slug=tmp.slug %}">{{ tmp.title }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
