<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/pygments.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Part 1: Wrap all page content here -->
        <div id="wrap">

            <!-- Begin page content -->
            <div class="container">
                <div class="masthead">
                    <ul class="nav nav-pills pull-right">
                        <li{% if "/" == request.get_full_path %} class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if "/blog/" == request.get_full_path %} class="active"{% endif %} ><a href="{% url 'blog_article_index' %}">Blog</a></li>
                        <li {% if "/about/" == request.get_full_path %} class="active"{% endif %} ><a href="{% url 'blog_article_index' %}">About</a></li>
                    </ul>
                    <h3 class="text-muted">My Blog</h3>
                </div>
                <div class="page-header">
                    <p class="lead">Simple is beauty!</p>
                </div>
                {% block breadcrumb %}{% endblock %}
                {% block content %}{% endblock%}
            </div>

            <div id="push"></div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="muted credit">©2014<span style="float:right;"><a href="/legal/">Legal</a></span></p>

            </div>
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
